@font-face {
	font-family: norse-bold;
	src: url(fonts/Norse-Bold.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

#container-main {
	min-height: 100vh;
}

#container-left {
	background-image: url("images/img.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 40rem;
	height: 100vh;
}

#container-logo {
	font-family: norse-bold;
	color: white;
}
